:root{
    --primary-color:#40749B;
    --secondary-color: #C2E6DB;

    --red: #9E2A2B;
    --yellow: #F2A900;
    --brown: #4A2C2A;
    --white: #FBF5EB;
    --green: #5C8A3B;

    --space-xs: 0.25em;
    --space-s: 0.5em;
    --space-m: 1em;
    --space-l: 1.5em;    
    --space-xl: 2em;
    --space-xxl: 2.5em;

    --font-size-h1: 2em;
    --font-size-h2: 1.75em;
    --font-size-h3: 1.625em;
    --font-size-h4: 1.375em;
    --font-size-h5: 1.25em;
    --font-size-h6: 1.125em;
    --font-size-xs: 0.625em;
    --font-size-s: 0.75em;
    --font-size-base: 0.875em;
    --font-size-m: 1em;
    --font-size-l: 1.125em;
    --font-size-xl: 1.25em;

    --border-radius-lg: 1.25em;  
    --border-radius-md: 0.75em;

    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
}

/* ===============================
   COMPONENT STYLES
================================*/
body{
    margin: unset;
}
input{
    border-radius: var(--border-radius-md);
    height: var(--space-l);
    border: unset;
    background-color: var(--secondary-color);
}
input::placeholder{
    text-align: center;
    font-size: var(--font-size-base);
}
.btn{
    background-color: #fff;
    border: var(--primary-color);
    color: var(--primary-color);
    padding: var(--space-s) var(--space-m);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    min-height: var(--space-xl);
    font-size: var(--font-size-base);
}
.btn.primary {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    border-radius: var(--border-radius-md);
    cursor: pointer;
}

.card {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: var(--border-radius-md);
    padding: 1rem;
    background: #fff;
}

.main-content{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-color);
}


/* ===============================
   reusable classes
================================*/
.display-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-primary{
    color: var(--primary-color);
}
.font-size-s{
    font-size: var(--font-size-s)
}
.font-size-h1 { font-size: var(--font-size-h1); }
.font-size-h2 { font-size: var(--font-size-h2); }
.font-size-h3 { font-size: var(--font-size-h3); }
.font-size-h4 { font-size: var(--font-size-h4); }
.font-size-h5 { font-size: var(--font-size-h5); }
.font-size-h6 { font-size: var(--font-size-h6); }
.font-size-xs { font-size: var(--font-size-xs); }
.font-size-base { font-size: var(--font-size-base); }
.font-size-m { font-size: var(--font-size-m); }
.font-size-l { font-size: var(--font-size-l); }
/* ==========================
   MARGIN UTILITY CLASSES
========================== */

/* -------- XS -------- */
.margin-top-xs    { margin-top: var(--space-xs); }
.margin-bottom-xs { margin-bottom: var(--space-xs); }
.margin-left-xs   { margin-left: var(--space-xs); }
.margin-right-xs  { margin-right: var(--space-xs); }
.margin-x-xs      { margin-left: var(--space-xs); margin-right: var(--space-xs); }
.margin-y-xs      { margin-top: var(--space-xs); margin-bottom: var(--space-xs); }
.margin-xs        { margin: var(--space-xs); }

/* -------- S -------- */
.margin-top-s    { margin-top: var(--space-s); }
.margin-bottom-s { margin-bottom: var(--space-s); }
.margin-left-s   { margin-left: var(--space-s); }
.margin-right-s  { margin-right: var(--space-s); }
.margin-x-s      { margin-left: var(--space-s); margin-right: var(--space-s); }
.margin-y-s      { margin-top: var(--space-s); margin-bottom: var(--space-s); }
.margin-s        { margin: var(--space-s); }

/* -------- M -------- */
.margin-top-m    { margin-top: var(--space-m); }
.margin-bottom-m { margin-bottom: var(--space-m); }
.margin-left-m   { margin-left: var(--space-m); }
.margin-right-m  { margin-right: var(--space-m); }
.margin-x-m      { margin-left: var(--space-m); margin-right: var(--space-m); }
.margin-y-m      { margin-top: var(--space-m); margin-bottom: var(--space-m); }
.margin-m        { margin: var(--space-m); }

/* -------- L -------- */
.margin-top-l    { margin-top: var(--space-l); }
.margin-bottom-l { margin-bottom: var(--space-l); }
.margin-left-l   { margin-left: var(--space-l); }
.margin-right-l  { margin-right: var(--space-l); }
.margin-x-l      { margin-left: var(--space-l); margin-right: var(--space-l); }
.margin-y-l      { margin-top: var(--space-l); margin-bottom: var(--space-l); }
.margin-l        { margin: var(--space-l); }

/* -------- XL -------- */
.margin-top-xl    { margin-top: var(--space-xl); }
.margin-bottom-xl { margin-bottom: var(--space-xl); }
.margin-left-xl   { margin-left: var(--space-xl); }
.margin-right-xl  { margin-right: var(--space-xl); }
.margin-x-xl      { margin-left: var(--space-xl); margin-right: var(--space-xl); }
.margin-y-xl      { margin-top: var(--space-xl); margin-bottom: var(--space-xl); }
.margin-xl        { margin: var(--space-xl); }
/* -------- XXL -------- */
.margin-top-xxl    { margin-top: var(--space-xxl); }
.margin-bottom-xxl { margin-bottom: var(--space-xxl); }
.margin-left-xxl   { margin-left: var(--space-xxl); }
.margin-right-xxl  { margin-right: var(--space-xxl); }
.margin-x-xxl      { margin-left: var(--space-xxl); margin-right: var(--space-xxl); }
.margin-y-xxl      { margin-top: var(--space-xxl); margin-bottom: var(--space-xxl); }
.margin-xxl        { margin: var(--space-xxl); }

.full-width{
    width: 100%;
}
/* ============= login screen=============*/
.branding-container{
    flex: 1;
    background-color: var(--primary-color);
}
.login-container{
    display: flex;
    flex: 1;
    text-align: center;
    background-color: #fff;
    border-radius: var(--border-radius-md);
    height: 100%;
    align-items: center;
    justify-content: center;
}
.phone .login-screen,.tablet .login-screen{
    flex-direction: row;
}

/* ============= landing page =============*/

.landing-body {
    background-color: var(--white);
}

.landing-body p {
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.landing-navbar {
    background-color: var(--green);
    display: flex;
    padding: var(--space-s) var(--space-xl);
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.landing-navbar .logo {
    display: block;
    height: clamp(2rem, 4vw, 3.5rem);
    width: auto;
}

.landing-navbar .options {
    display: flex;
    gap: var(--space-l);
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.landing-navbar a {
    text-decoration: none;
    color: white;
    font-weight: var(--font-weight-bold);
}

.landing-hero {
    display: flex;
    background-color: var(--brown);
}

.landing-carousel {
    background-color: var(--yellow);
}

.landing-menu-demo{
    background-color: var(--primary-color);
}

.landing-footer {
    background-color: var(--red);
}

.landing-carousel img {
    width: 5rem;
    height: 5rem;
}

